.duboBodyClass {
    font-family: Verdana, "\5B8B\4F53", Arial, Sans;
    font-size: 12px;

    color: #511e02;
    text-align: left;
    margin: 0 auto;
    font-size: 12px;
    scrollbar-face-color: #9ad4fc;
    scrollbar-shadow-color: #006699;
    scrollbar-base-color: #ffffff;
    scrollbar-highlight-color: #006699;
    scrollbar-3dlight-color: #ffffff;
    scrollbar-darkshadow-color: #ffffff;
    scrollbar-track-color: #f8f8f8;
    scrollbar-arrow-color: #006699;

    margin-top: 10px !important;

    * {
	    margin: 0;
	    padding: 0;
	}

    .head_f2 {
	    float: right;
	    width: 100%;
	    text-align: left;
	    height: 28px;
	    line-height: 28px;
	}

	.btnDivArea {
	    margin-top: 5px;
	    width: 692px;
	    text-align: center;
	    height: 30px;
	    line-height: 30px;
	}

	.button_bg1 {
	    height: 18px;
	    width: 66px;
	    BACKGROUND-IMAGE: url(../../../static/img/button_bg.jpg);
	    background-position: 0px 0px;
	    background-repeat: no-repeat;
	    border: 0px;
	    color: #0c3e09;
	}

	.button_bg1:hover {
	    background-position: -67px 0px;
	}

	.DTable {
	    margin-top: 5px;
	    text-align: center;
	    font-size: 12px;
	    background-color: #e9a884;
	}

	.DtrTitle {
	    background-color: #F8D480;
	    font-size: 13px;
	}

	.Dbgco1 {
	    background-color: White;
	}

	.DTable tr {
	    height: 25px;
	    background-color: White;
	}

	.td_caption_1 {
	    BACKGROUND-IMAGE: url(../../../static/img/tb_bg.jpg);
	    TEXT-ALIGN: center;
	    LINE-HEIGHT: 24px;
	    font-weight: bold;
	    color: #4a1a04;
	}

	.betnum {
	    font-size: 13px;
	    background-color: #fdf8f2;
	    width: 50px;
	}

	a {
	    color: #5E5E5E;
	    text-decoration: none;
	}

	.betRateNum {
	    color: Red;
	    font-size: 14px;
	    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
	    font-weight: bold;
	}

	.inp1 {
	    width: 48px;
	    height: 16px;
	    BACKGROUND-IMAGE: url(../../../static/img/frame1.gif);
	    BACKGROUND-REPEAT: no-repeat;
	    border: 1px solid #b0b0b0;
	    BACKGROUND-POSITION: 0px 0px;
	    COLOR: #000;
	    PADDING-TOP: 1px;
	    PADDING-LEFT: 2px;
	    margin: 0px 3px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    border-radius: 4px;
	}

	.Ball_List {
	    border-bottom: #ffffff 0px solid;
	    BORDER-LEFT: #ffffff 0px solid;
	    BACKGROUND-COLOR: #e9a884;
	    BORDER-TOP: #ffffff 0px solid;
	    BORDER-RIGHT: #ffffff 0px solid;
	}

	.td_caption_2 {
	    BACKGROUND-IMAGE: url(../../../static/img/tb_bg2.jpg);
	    TEXT-ALIGN: center;
	    LINE-HEIGHT: 22px;
	    VERTICAL-ALIGN: 10%;
	    font-weight: bold;
	}

	#lotteryno a {
	    color: #4a1a04;
	    text-decoration: none;
	    border-right: 1px solid #fff;
	}

	.Ball_tr_H {
	    TEXT-ALIGN: center;
	    LINE-HEIGHT: 16px;
	    BACKGROUND-COLOR: #ffffff;
	}

	.Jut_caption_1 {
	    BACKGROUND-COLOR: #fdf8f2;
	    border-top: 0px;
	    border-bottom: 0px;
	    border-left: 1px solid #e9a884;
	    border-right: 1px solid #e9a884;
	}

	.t_list_tr_0 {
	    TEXT-ALIGN: center;
	    LINE-HEIGHT: 17px;
	    BACKGROUND-COLOR: #ffffff;
	    HEIGHT: 20px;
	}
	.f_left {
	    TEXT-ALIGN: left;
	    TEXT-INDENT: 3px;
	}

	.TDb_B {
	    BACKGROUND-COLOR: #fdf8f2;
	    COLOR: #511e02;
	}

	.TDb_R {
	    BACKGROUND-COLOR: #ffe5e5;
	    COLOR: #ff0000;
	}

	.bocaiNameTd {
		height: 24px;
		width: 45%;
		font-weight: bold;
	}

	.todayWinSpan {
		font-size: 10pt;
		font-family: Arial;
		color: red;
		position: relative;
		height: 10px;
	}

	.versionKJDiv {
		float: right;
		width: 145px;
	}

	.versionKJSpan {
		height:25px;
		float:right;
		color:#511e02;
		font-weight: bold;
	}

	.CQREDiv {
		height:27px;
		width:27px;
		margin-top:1px;
	}

	.h24w28 {
		height: 24px;
		width: 28%;
	}

	.bocaiSubName {
		font-weight: bold;
		color: #2836f4;
	}

	.alrwd25 {
		text-align: right;
		width: 25%;
	}

	.kuaijieSpan {
		display:inline-block;
		color:#299A26;
		font-weight:bold;
		color: #299A26;
	}

	.kuaijieSpan:hover {
		color: #FF0D0D;
	}

	.shuomiSpan {
		color:#FF0D0D;
		display:inline-block;
		width:60px;
		cursor:pointer;
		text-align:left;
	}

	.inp1 {
	    width: 48px;
	    height: 16px;
	    BACKGROUND-IMAGE: url(../../../static/img/frame1.gif);
	    BACKGROUND-REPEAT: no-repeat;
	    border: 1px solid #b0b0b0;
	    BACKGROUND-POSITION: 0px 0px;
	    COLOR: #000;
	    PADDING-TOP: 1px;
	    PADDING-LEFT: 2px;
	    margin: 0px 3px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    border-radius: 4px;
	}

	.inp1:focus {
	    width: 48px;
	    height: 16px;
	    BACKGROUND-IMAGE: url(../../../static/img/frame1.gif);
	    BACKGROUND-REPEAT: no-repeat;
	    border: 1px solid #ff8800;
	    BACKGROUND-POSITION: -476px 0px;
	    COLOR: #000;
	    PADDING-TOP: 1px;
	    PADDING-LEFT: 2px;
	    margin: 0px 3px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    border-radius: 4px;
	}

	.kuaijieOdd {
		display:inline-block;
		color:#299A26;
		font-weight:bold;
	}

	.kuaijieOdd:hover {
		color:#FF0D0D;
	}

	a:hover {
	    cursor: pointer;
	}

	.kuaijie_xz {
	    background-color: #FFBB66 !important;
	}

	#lotteryno a:hover {
	    text-decoration: underline;
	    color: #c15422;
	}
}


.vertical-t {
	vertical-align: top;
}

.vertical-r {
	vertical-align: right;
}

.margin-r10 {
	margin-right:10px;
}

.table000 {
	border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

.width700 {
	width: 700px;
}

.wid60 {
	width: 60px;
}

.black {
	color: #000000;
}

.red {
	color: red;
}

.green {
	color: green;
}

.height27 {
	height: 27px;
}

.floatL {
	float: left;
}

