.duboBodyClass {

    .oddsTdMin.selected {
        background-color: #FFBB66 !important;
    }

    .cursorP {
        cursor:pointer;
    }

    .noOddSpan {
        width:41px;
        color:red;
        font-weight:bold;
    }

*{margin:0;padding:0;}
li{list-style:none;}
a img{border:0; cursor:pointer;}


.DTable_t {
    border-width: 1px 0px 0px 1px;
    border-color: #e9a884;
    border-style: solid;
    border-collapse: collapse;
}


body{

	font-family: Verdana,宋体,微軟正黑體, Arial, Sans;
    font-size: 12px;


	color:#511e02;
	text-align:left;
	margin:0 auto;


	scrollbar-face-color: #9ad4fc;
    scrollbar-shadow-color: #006699;
    scrollbar-base-color : #ffffff;
    scrollbar-highlight-color: #006699;
    scrollbar-3dlight-color: #ffffff;
    scrollbar-darkshadow-color: #ffffff;
    scrollbar-track-color: #f8f8f8;
    scrollbar-arrow-color: #006699;
}
.error{ color:Red; display:block;}
a{color:#5E5E5E;text-decoration:none; }
a{color:#5E5E5E;text-decoration:none; }
a:hover{cursor:pointer; }
a:active{color:#f00;}
.div{font-size:12px;  }
.tableH
{
	border-collapse:collapse; 
	border:1px solid #e9a884;
	text-align:center;
	font-size:12px; 
}
.tableHtest 
{/*后会员管理*/
	font-size: 12px;
	line-height: 120%;
	border-collapse: collapse;
	border: 1px solid #cccccc;
	text-align: center;
}

.trH
{
	height:25px;
	color:#333;
	background-color:#e3e3e3;
	/*background-image:url(../../../static/img/gl-bg01.jpg)*/
}
.trHtdstandboll
{/*蓝标题*/
	height:25px;
	color:#000;
	background-color:#fdf8f2; 
	font-weight:bold;
}

.trH1
{
	height:25px;
	color:#fff;
    background-color:#3F80A8;
    text-align:center;
}
 
.trH11
{
	height:20px;
	color:#fff;
    background-color:#3F80A8;
    text-align:center;
    line-height:15px;
}

.trH2
{
	height:18px;
	color:#000;
    background-color:#FFF9B6;
    text-align:center;
    line-height:14px;
} 
.tdIndex{background-color:#FFF9B6;}

.tr1{
	 background-color:#ffffff;
	 line-height:25px;
	 color:#333333;
}
.tr2{
     background-color: #efefef;
	 line-height:25px;
	 color:#333333;
}

.trHcenter
{
	height:25px;
	color:#fff;
    background-color:#66A1C1;
    text-align:center;
} 

.td2
{ 
    background-color: #efefef;
	text-align:right;
	padding-right:2px;
	width:80px;
}

.trwhite
{
    color:#ffffff;
	background-color:#3880A8;
	height:30px;
    text-align:center;
}

.tdstandboll
{
    color:#000;
    background-color:#fdf8f2; 
    font-weight:lighter;
    height:30px;
    text-align:center;
}
.tdboll_banbo_red
{
    color:Red;
    text-align:center;	
}
	
.tdboll_banbo_blue
{
    color:Blue;
    text-align:center;	
}

.tdbluebold
{
color:Blue;
font-weight:bolder;
}
	
.tdredbold
{
	color:red;
	font-weight:bolder;
	}
	
.tdblackbold
{
	color:Black;
	font-weight:bolder;
	}

.box{
border:solid 1px #ccc;
width:120px;
line-height:20px;
margin-left:2px;
}

.default{
	background-color: #253447;
	background-repeat: repeat-y;
	background-position: center;
}
.top {margin-top:4px;}
.bottom{height:60px;margin-top:4px;border:1px #cccccc solid;background-color: #E0E0E0;}
.title a{font-weight:bold;}
.link{width:170px;text-align:left;height:22px;border-bottom:1px #6C6D6E dashed;line-height:30px;}

#content {
   clear: left; 
} 

.td_red
{
	font-size: 16px;
	color: Red;
	cursor: pointer;
	text-align: center;
	line-height: 100%;
	font-weight: bold;
	font-family:宋体;

}

.td_green
{
  font-size:16px;  
  color:Green;
  cursor:pointer;
   text-align:center;
   line-height:100%;
   font-weight: bold;
   font-family:宋体;

}

.td_blue
{
  font-size:16px;  
  color:Blue;
  cursor:pointer;
   text-align:center;
   line-height:100%;
   font-weight: bold;
   font-family:宋体;

}

.td_black
{
  font-size:15px;  
  color:black;
  cursor:pointer;
   text-align:center;
   line-height:100%;
   font-family:宋体;
}
.td_black:hover
{
  color:red;
 }

.addfont
{
	color:blue;
	font-size:14px;
	font-weight: bold;
	cursor:pointer;
}

.addfont:hover
{
	color:red;
}

.delfont
{
	color:blue;
	font-size:18px;
	font-weight: bold;
	cursor:pointer;
}

.delfont:hover
{
	color:red;
}

.ordertopmenu
{
	color:Blue;
}

.ordertopmenu:hover
{
	color:red;
}
.giveover_price
{
	background-color:#FF00FF;
    color:#ffffff;
 }
 
.giveover_risk
{
	background-color:#000080;
	color:#ffffff;
 }
 
 .giveover_odds
{
	background-color:#008000;
	color:#ffffff;
 }
 
 .giveover
{
	background-color:#ff0000;
	color:#ffffff;
 }

.detailinput{ width:50px;}

a.bblue:link,a.bblue:visited{color:#003366;}
a.bblue:hover,a.bblue:active{color:red;}

a.underline:link,a.underline:visited,a.underline:hover,a.underline:active{text-decoration: underline;} 

a.blue:link,a.blue:visited {font-size: 13px;color: #519C18;text-decoration: underline; font-weight:lighter;} 
a.blue:hover,a.blue:active  {font-size: 13px;color:red;text-decoration: underline; font-weight:lighter}
 
a.blue01:link,a.blue01:visited {font-size: 12px;color:blue;text-decoration: none; font-weight:lighter;} 
a.blue01:hover,a.blue01:active  {font-size: 12px;color:red;text-decoration: none; font-weight:lighter}

a.boldblue:link,a.boldblue:visited {font-size: 12px;color: #519C18;text-decoration: underline; font-weight:bolder;}
a.boldblue:hover,a.boldblue:active  {font-size: 12px;color:red;text-decoration: underline;font-weight:bolder;}

a.white,a.white:link,a.white:visited ,a.white:hover{font-size: 12px;color: #fff;text-decoration: none; }
 a.white:active  {font-size: 12px;color:#ffcc00;text-decoration: none; }

a.red:link,a.red:visited {font-size: 12px;color:red;text-decoration: none;font-weight:lighter; }
a.red:hover,a.red:active  {font-size: 12px;color:blue;text-decoration: none; font-weight:lighter;}
 
a.red01:link,a.red01:visited {font-size: 12px;color:#cc0000;text-decoration: underline;font-weight:lighter; }
a.red01:hover,a.red01:active  {font-size: 12px;color:#cc0000;text-decoration: underline; font-weight:lighter;}

 a.red02:link,a.red02:visited {font-size: 12px;color:#ff0000;} 
 a.red02:active,a.red02:hover {font-size: 12px;color:#000000;}

a.green:link,a.green:visited {font-size: 12px;color:green;text-decoration: none; font-weight:lighter;} 
a.green:hover,a.green:active  {font-size: 12px;color:red;text-decoration: none; font-weight:lighter}
input.pricebox{ width:50px;}

.input_rate
{
	BORDER: #7F9DB9 1px solid;
	FONT-SIZE: 9pt;
	BACKGROUND-color: #ffffff; 
}
/*通用字体控制 ---jeans*/

.Fred{ color:Red;}
.Fgreen{color:Green;}
.Fblue{color:Blue;}

.Fweight{ font-weight:bold;}

.width32{width:32px;}
.width58{width:58px;}
.cusor{ cursor:pointer;}

.ball3dBg{
  background-image:url("../../../static/img/yellowball.gif");
  background-repeat:no-repeat;
  background-position:center;
  line-height:25px;
  font-weight: bold;
  font-size:18px;
}
.DTable
{
    margin-top:5px;
	text-align:center;
	font-size:12px; 
	background-color:#e9a884;
}
.DTable1{text-align:center;
	font-size:12px; 
	background-color:#B5D6E6;}
.DTable tr{ height:25px; background-color:White;}
.DTable1 tr{ height:22px; background-color:White;}

.Dbgco1{ background-color:White;}
.Dbgco2{ background-color:#ebf4ff;}
.Dbgco2_1{BACKGROUND-COLOR: #ebf4ff; font-size:13px;}
.DtrTitle{ background-color:#F8D480; font-size:13px;}
.DtrH { font-size:13px; background-color:#fff;}
.head_f1{ float:left; width:50%; height:28px; line-height:28px;}
.head_f2 { float:right; width:100%; text-align:left; height:28px; line-height:28px;}
.betnum{ font-size:13px; background-color:#fdf8f2; width:50px; }
.betnum1{ background-color:#fdf8f2; }
.betRateNum{color:Red; font-size:14px;font-family:Arial, Helvetica, Verdana, Geneva,  sans-serif;font-weight:bold;}

.btnDivArea
{
margin-top:5px;
width:692px;
text-align:center; 
height:30px; 
line-height:30px;
}
.red{ color:Red;}
/*--前中后栏位样式*/
.bca_bear{ height:30px; font-size:13px; line-height:30px; color:Red; font-weight:bold; text-align:center;}
.bca_bear_checked{ font-size:18px; color:#000;}

/*广东快乐十分*/
.No_01, .No_02, .No_03, .No_04, .No_05, .No_06, .No_07, .No_08, .No_09, .No_10, .No_11, .No_12, .No_13, .No_14, .No_15, .No_16, .No_17, .No_18, .No_19, .No_20 {
	background-image: url(../../../static/img/happyball.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.No_01 {
	background-position:0 0px
}
.No_02 {
    background-position:0 -27px
}
.No_03 {
    background-position:0 -54px
}
.No_04 {
    background-position:0 -81px
}
.No_05 {
    background-position:0 -108px
}
.No_06 {
    background-position:0 -135px
}
.No_07 {
    background-position:0 -162px
}
.No_08 {
    background-position:0 -189px
}
.No_09 {
    background-position:0 -216px
}
.No_10 {
    background-position:0 -243px
}
.No_11 {
    background-position:0 -270px
}
.No_12 {
    background-position:0 -297px
}
.No_13 {
    background-position:0 -324px
}
.No_14 {
    background-position:0 -351px
}
.No_15 {
    background-position:0 -378px
}
.No_16 {
    background-position:0 -405px
}
.No_17 {
    background-position:0 -432px
}
.No_18 {
    background-position:0 -459px
}
.No_19 {
    background-position:0 -486px
}
.No_20 {
    background-position:0 -513px
}
/*end广东快乐十分*/
/*幸运农场*/
.NCNo_01, .NCNo_02, .NCNo_03, .NCNo_04, .NCNo_05, .NCNo_06, .NCNo_07, .NCNo_08, .NCNo_09, .NCNo_10, .NCNo_11, .NCNo_12, .NCNo_13, .NCNo_14, .NCNo_15, .NCNo_16, .NCNo_17, .NCNo_18, .NCNo_19, .NCNo_20 {
    background-image: url(../../../static/img/ball_nc.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.NCNo_01 {
	background-position:0 0px
}
.NCNo_02 {
    background-position:0 -27px
}
.NCNo_03 {
    background-position:0 -54px
}
.NCNo_04 {
    background-position:0 -81px
}
.NCNo_05 {
    background-position:0 -108px
}
.NCNo_06 {
    background-position:0 -135px
}
.NCNo_07 {
    background-position:0 -162px
}
.NCNo_08 {
    background-position:0 -189px
}
.NCNo_09 {
    background-position:0 -216px
}
.NCNo_10 {
    background-position:0 -243px
}
.NCNo_11 {
    background-position:0 -270px
}
.NCNo_12 {
    background-position:0 -297px
}
.NCNo_13 {
    background-position:0 -324px
}
.NCNo_14 {
    background-position:0 -351px
}
.NCNo_15 {
    background-position:0 -378px
}
.NCNo_16 {
    background-position:0 -405px
}
.NCNo_17 {
    background-position:0 -432px
}
.NCNo_18 {
    background-position:0 -459px
}
.NCNo_19 {
    background-position:0 -486px
}
.NCNo_20 {
    background-position:0 -513px
}
/*幸运农场*/

/*重庆*/
.CQNo_0,.CQNo_1, .CQNo_2, .CQNo_3, .CQNo_4, .CQNo_5, .CQNo_6, .CQNo_7, .CQNo_8, .CQNo_9{
	background-image: url(../../../static/img/cpball.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.CQNo_0 {
	background-position:0 0px
}
.CQNo_1 {
    background-position:0 -27px
}
.CQNo_2 {
    background-position:0 -54px
}
.CQNo_3 {
    background-position:0 -81px
}
.CQNo_4 {
    background-position:0 -108px
}
.CQNo_5 {
    background-position:0 -135px
}
.CQNo_6 {
    background-position:0 -162px
}
.CQNo_7 {
    background-position:0 -189px
}
.CQNo_8 {
    background-position:0 -216px
}
.CQNo_9 {
    background-position:0 -243px
} 
/*end重庆*/

/*北京赛车*/
.BJNo_01, .BJNo_02, .BJNo_03, .BJNo_04, .BJNo_05, .BJNo_06, .BJNo_07, .BJNo_08, .BJNo_09, .BJNo_10 {
	background-image: url(../../../static/img/bjball.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.BJNo_01 {
	background-position:0 0px
}
.BJNo_02 {
    background-position:0 -27px
}
.BJNo_03 {
    background-position:0 -54px
}
.BJNo_04 {
    background-position:0 -81px
}
.BJNo_05 {
    background-position:0 -108px
}
.BJNo_06 {
    background-position:0 -135px
}
.BJNo_07 {
    background-position:0 -162px
}
.BJNo_08 {
    background-position:0 -189px
}
.BJNo_09 {
    background-position:0 -216px
}
.BJNo_10 {
    background-position:0 -243px
}
/*end北京赛车*/
/*小球*/
.XQNo_01, .XQNo_02, .XQNo_03, .XQNo_04, .XQNo_05, .XQNo_06, .XQNo_07, .XQNo_08, .XQNo_09, .XQNo_10, .XQNo_11, .XQNo_12, .XQNo_13, .XQNo_14, .XQNo_15, .XQNo_16, .XQNo_17, .XQNo_18, .XQNo_19, .XQNo_20, .XQNo_21, 
.XQNo_22, .XQNo_23, .XQNo_24, .XQNo_25, .XQNo_26, .XQNo_27, .XQNo_28, .XQNo_29, .XQNo_30, .XQNo_31, .XQNo_32, .XQNo_33, .XQNo_34, .XQNo_35, .XQNo_36, .XQNo_37, .XQNo_38, .XQNo_39, .XQNo_40, .XQNo_41, .XQNo_42,
.XQNo_43, .XQNo_44, .XQNo_45, .XQNo_46, .XQNo_47, .XQNo_48, .XQNo_49 {
	background-image: url(../../../static/img/xqball.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.XQNo_01 {
	background-position:0 0px
}
.XQNo_02 {
    background-position:0 -26px
}
.XQNo_03 {
    background-position:0 -52px
}
.XQNo_04 {
    background-position:0 -78px
}
.XQNo_05 {
    background-position:0 -104px
}
.XQNo_06 {
    background-position:0 -130px
}
.XQNo_07 {
    background-position:0 -156px
}
.XQNo_08 {
    background-position:0 -182px
}
.XQNo_09 {
    background-position:0 -208px
}
.XQNo_10 {
    background-position:0 -234px
}
.XQNo_11 {
    background-position:0 -260px
}
.XQNo_12 {
    background-position:0 -286px
}
.XQNo_13 {
    background-position:0 -312px
}
.XQNo_14 {
    background-position:0 -338px
}
.XQNo_15 {
    background-position:0 -364px
}
.XQNo_16 {
    background-position:0 -390px
}
.XQNo_17 {
    background-position:0 -416px
}
.XQNo_18 {
    background-position:0 -442px
}
.XQNo_19 {
    background-position:0 -468px
}
.XQNo_20 {
    background-position:0 -494px
}
.XQNo_21 {
    background-position:0 -520px
}
.XQNo_22 {
	background-position:0 -546px
}
.XQNo_23 {
    background-position:0 -572px
}
.XQNo_24 {
    background-position:0 -598px
}
.XQNo_25 {
    background-position:0 -624px
}
.XQNo_26 {
    background-position:0 -650px
}
.XQNo_27 {
    background-position:0 -676px
}
.XQNo_28 {
    background-position:0 -702px
}
.XQNo_29 {
    background-position:0 -728px
}
.XQNo_30 {
    background-position:0 -754px
}
.XQNo_31 {
    background-position:0 -780px
}
.XQNo_32 {
    background-position:0 -806px
}
.XQNo_33 {
    background-position:0 -832px
}
.XQNo_34 {
    background-position:0 -858px
}
.XQNo_35 {
    background-position:0 -884px
}
.XQNo_36 {
    background-position:0 -910px
}
.XQNo_37 {
    background-position:0 -936px
}
.XQNo_38 {
    background-position:0 -962px
}
.XQNo_39 {
    background-position:0 -988px
}
.XQNo_40 {
    background-position:0 -1014px
}
.XQNo_41 {
    background-position:0 -1040px
}
.XQNo_42 {
    background-position:0 -1066px
}
.XQNo_43 {
    background-position:0 -1092px
} 
.XQNo_44 {
    background-position:0 -1118px
}
.XQNo_45 {
    background-position:0 -1144px
}
.XQNo_46 {
    background-position:0 -1170px
}
.XQNo_47 {
    background-position:0 -1196px
}
.XQNo_48 {
    background-position:0 -1222px
}
.XQNo_49 {
    background-position:0 -1248px
}
/*end小球*/

/*江苏快3*/
.JSNo_1 , .JSNo_2  , .JSNo_3  , .JSNo_4  , .JSNo_5  , .JSNo_6 {
	BACKGROUND-IMAGE: url(../../../static/img/jsball.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.JSNo_1 {
	BACKGROUND-POSITION: 0px 0px
}
.JSNo_2 {
	BACKGROUND-POSITION: 0px -27px
}
.JSNo_3 {
	BACKGROUND-POSITION: 0px -54px
}
.JSNo_4 {
	BACKGROUND-POSITION: 0px -81px
}
.JSNo_5 {
	BACKGROUND-POSITION: 0px -108px
}
.JSNo_6 {
	BACKGROUND-POSITION: 0px -135px
}
/*end江苏快3*/

/*北京快8*/
div.dvNo1,div.dvNo2,div.dvNo3,div.dvNo4,div.dvNo5,div.dvNo6,div.dvNo7,div.dvNo8,div.dvNo9,div.dvNo10,div.dvNo11,div.dvNo12,div.dvNo13,div.dvNo14,div.dvNo15,div.dvNo16,div.dvNo17,div.dvNo18,div.dvNo19,div.dvNo20,div.dvNo21,div.dvNo22,div.dvNo23,div.dvNo24,div.dvNo25,div.dvNo26,div.dvNo27,div.dvNo28,div.dvNo29,div.dvNo30,div.dvNo31,div.dvNo32,div.dvNo33,div.dvNo34,div.dvNo35,div.dvNo36,div.dvNo37,div.dvNo38,div.dvNo39,div.dvNo40,div.dvNo41,div.dvNo42,div.dvNo43,div.dvNo44,div.dvNo45,div.dvNo46,div.dvNo47,div.dvNo48,div.dvNo49,div.dvNo50,div.dvNo51,div.dvNo52,div.dvNo53,div.dvNo54,div.dvNo55,div.dvNo56,div.dvNo57,div.dvNo58,div.dvNo59,div.dvNo60,div.dvNo61,div.dvNo62,div.dvNo63,div.dvNo64,div.dvNo65,div.dvNo66,div.dvNo67,div.dvNo68,div.dvNo69,div.dvNo70,div.dvNo71,div.dvNo72,div.dvNo73,div.dvNo74,div.dvNo75,div.dvNo76,div.dvNo77,div.dvNo78,div.dvNo79,div.dvNo80,div.mpDvNo80{padding:0;width:28px;height:28px;font-weight:bold;cursor:default}
div.dvNo1{background:url('../../../static/img/ball13.gif') no-repeat center top}
div.dvNo2{background:url('../../../static/img/ball13.gif') no-repeat center -27px}
div.dvNo3{background:url('../../../static/img/ball13.gif') no-repeat center -54px}
div.dvNo4{background:url('../../../static/img/ball13.gif') no-repeat center -81px}
div.dvNo5{background:url('../../../static/img/ball13.gif') no-repeat center -108px}
div.dvNo6{background:url('../../../static/img/ball13.gif') no-repeat center -135px}
div.dvNo7{background:url('../../../static/img/ball13.gif') no-repeat center -162px}
div.dvNo8{background:url('../../../static/img/ball13.gif') no-repeat center -189px}
div.dvNo9{background:url('../../../static/img/ball13.gif') no-repeat center -216px}
div.dvNo10{background:url('../../../static/img/ball13.gif') no-repeat center -243px}
div.dvNo11{background:url('../../../static/img/ball13.gif') no-repeat center -270px}
div.dvNo12{background:url('../../../static/img/ball13.gif') no-repeat center -297px}
div.dvNo13{background:url('../../../static/img/ball13.gif') no-repeat center -324px}
div.dvNo14{background:url('../../../static/img/ball13.gif') no-repeat center -351px}
div.dvNo15{background:url('../../../static/img/ball13.gif') no-repeat center -378px}
div.dvNo16{background:url('../../../static/img/ball13.gif') no-repeat center -405px}
div.dvNo17{background:url('../../../static/img/ball13.gif') no-repeat center -432px}
div.dvNo18{background:url('../../../static/img/ball13.gif') no-repeat center -459px}
div.dvNo19{background:url('../../../static/img/ball13.gif') no-repeat center -486px}
div.dvNo20{background:url('../../../static/img/ball13.gif') no-repeat center -513px}
div.dvNo21{background:url('../../../static/img/ball13.gif') no-repeat center -540px}
div.dvNo22{background:url('../../../static/img/ball13.gif') no-repeat center -567px}
div.dvNo23{background:url('../../../static/img/ball13.gif') no-repeat center -594px}
div.dvNo24{background:url('../../../static/img/ball13.gif') no-repeat center -621px}
div.dvNo25{background:url('../../../static/img/ball13.gif') no-repeat center -648px}
div.dvNo26{background:url('../../../static/img/ball13.gif') no-repeat center -675px}
div.dvNo27{background:url('../../../static/img/ball13.gif') no-repeat center -702px}
div.dvNo28{background:url('../../../static/img/ball13.gif') no-repeat center -729px}
div.dvNo29{background:url('../../../static/img/ball13.gif') no-repeat center -756px}
div.dvNo30{background:url('../../../static/img/ball13.gif') no-repeat center -783px}
div.dvNo31{background:url('../../../static/img/ball13.gif') no-repeat center -810px}
div.dvNo32{background:url('../../../static/img/ball13.gif') no-repeat center -837px}
div.dvNo33{background:url('../../../static/img/ball13.gif') no-repeat center -864px}
div.dvNo34{background:url('../../../static/img/ball13.gif') no-repeat center -891px}
div.dvNo35{background:url('../../../static/img/ball13.gif') no-repeat center -918px}
div.dvNo36{background:url('../../../static/img/ball13.gif') no-repeat center -945px}
div.dvNo37{background:url('../../../static/img/ball13.gif') no-repeat center -972px}
div.dvNo38{background:url('../../../static/img/ball13.gif') no-repeat center -999px}
div.dvNo39{background:url('../../../static/img/ball13.gif') no-repeat center -1026px}
div.dvNo40{background:url('../../../static/img/ball13.gif') no-repeat center -1053px}
div.dvNo41{background:url('../../../static/img/ball13.gif') no-repeat center -1080px}
div.dvNo42{background:url('../../../static/img/ball13.gif') no-repeat center -1107px}
div.dvNo43{background:url('../../../static/img/ball13.gif') no-repeat center -1134px}
div.dvNo44{background:url('../../../static/img/ball13.gif') no-repeat center -1161px}
div.dvNo45{background:url('../../../static/img/ball13.gif') no-repeat center -1188px}
div.dvNo46{background:url('../../../static/img/ball13.gif') no-repeat center -1215px}
div.dvNo47{background:url('../../../static/img/ball13.gif') no-repeat center -1242px}
div.dvNo48{background:url('../../../static/img/ball13.gif') no-repeat center -1269px}
div.dvNo49{background:url('../../../static/img/ball13.gif') no-repeat center -1296px}
div.dvNo50{background:url('../../../static/img/ball13.gif') no-repeat center -1323px}
div.dvNo51{background:url('../../../static/img/ball13.gif') no-repeat center -1350px}
div.dvNo52{background:url('../../../static/img/ball13.gif') no-repeat center -1377px}
div.dvNo53{background:url('../../../static/img/ball13.gif') no-repeat center -1404px}
div.dvNo54{background:url('../../../static/img/ball13.gif') no-repeat center -1431px}
div.dvNo55{background:url('../../../static/img/ball13.gif') no-repeat center -1458px}
div.dvNo56{background:url('../../../static/img/ball13.gif') no-repeat center -1485px}
div.dvNo57{background:url('../../../static/img/ball13.gif') no-repeat center -1512px}
div.dvNo58{background:url('../../../static/img/ball13.gif') no-repeat center -1539px}
div.dvNo59{background:url('../../../static/img/ball13.gif') no-repeat center -1566px}
div.dvNo60{background:url('../../../static/img/ball13.gif') no-repeat center -1593px}
div.dvNo61{background:url('../../../static/img/ball13.gif') no-repeat center -1620px}
div.dvNo62{background:url('../../../static/img/ball13.gif') no-repeat center -1647px}
div.dvNo63{background:url('../../../static/img/ball13.gif') no-repeat center -1674px}
div.dvNo64{background:url('../../../static/img/ball13.gif') no-repeat center -1701px}
div.dvNo65{background:url('../../../static/img/ball13.gif') no-repeat center -1728px}
div.dvNo66{background:url('../../../static/img/ball13.gif') no-repeat center -1755px}
div.dvNo67{background:url('../../../static/img/ball13.gif') no-repeat center -1782px}
div.dvNo68{background:url('../../../static/img/ball13.gif') no-repeat center -1809px}
div.dvNo69{background:url('../../../static/img/ball13.gif') no-repeat center -1836px}
div.dvNo70{background:url('../../../static/img/ball13.gif') no-repeat center -1863px}
div.dvNo71{background:url('../../../static/img/ball13.gif') no-repeat center -1890px}
div.dvNo72{background:url('../../../static/img/ball13.gif') no-repeat center -1917px}
div.dvNo73{background:url('../../../static/img/ball13.gif') no-repeat center -1944px}
div.dvNo74{background:url('../../../static/img/ball13.gif') no-repeat center -1971px}
div.dvNo75{background:url('../../../static/img/ball13.gif') no-repeat center -1998px}
div.dvNo76{background:url('../../../static/img/ball13.gif') no-repeat center -2025px}
div.dvNo77{background:url('../../../static/img/ball13.gif') no-repeat center -2052px}
div.dvNo78{background:url('../../../static/img/ball13.gif') no-repeat center -2079px}
div.dvNo79{background:url('../../../static/img/ball13.gif') no-repeat center -2106px}
div.dvNo80{background:url('../../../static/img/ball13.gif') no-repeat center -2133px}
/*北京快8*/

/*七星*/
.QXNo_00,.QXNo_01, .QXNo_02, .QXNo_03, .QXNo_04, .QXNo_05, .QXNo_06, .QXNo_07, .QXNo_08, .QXNo_09{
	background-image: url(../../../static/img/cpball2.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.QXNo_00 {
	background-position:0 0px
}
.QXNo_01 {
    background-position:0 -27px
}
.QXNo_02 {
    background-position:0 -54px
}
.QXNo_03 {
    background-position:0 -81px
}
.QXNo_04 {
    background-position:0 -108px
}
.QXNo_05 {
    background-position:0 -135px
}
.QXNo_06 {
    background-position:0 -162px
}
.QXNo_07 {
    background-position:0 -189px
}
.QXNo_08 {
    background-position:0 -216px
}
.QXNo_09 {
    background-position:0 -243px
} 
/*end七星*/

/*广西快乐十分*/
.GXNo_01, .GXNo_02, .GXNo_03, .GXNo_04, .GXNo_05, .GXNo_06, .GXNo_07, .GXNo_08, .GXNo_09, .GXNo_10, .GXNo_11, .GXNo_12, .GXNo_13, .GXNo_14, .GXNo_15, .GXNo_16, .GXNo_17, .GXNo_18, .GXNo_19, .GXNo_20, .GXNo_21{
	background-image: url(../../../static/img/ball_5.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.GXNo_01 {
	background-position:0 0px
}
.GXNo_02 {
    background-position:0 -27px
}
.GXNo_03 {
    background-position:0 -54px
}
.GXNo_04 {
    background-position:0 -81px
}
.GXNo_05 {
    background-position:0 -108px
}
.GXNo_06 {
    background-position:0 -135px
}
.GXNo_07 {
    background-position:0 -162px
}
.GXNo_08 {
    background-position:0 -189px
}
.GXNo_09 {
    background-position:0 -216px
}
.GXNo_10 {
    background-position:0 -243px
} 
.GXNo_11 {
    background-position:0 -270px
} 
.GXNo_12 {
    background-position:0 -297px
} 
.GXNo_13 {
    background-position:0 -324px
} 
.GXNo_14 {
    background-position:0 -351px
} 
.GXNo_15 {
    background-position:0 -378px
} 
.GXNo_16 {
    background-position:0 -405px
} 
.GXNo_17 {
    background-position:0 -432px
} 
.GXNo_18 {
    background-position:0 -459px
} 
.GXNo_19 {
    background-position:0 -486px
} 
.GXNo_20 {
    background-position:0 -513px
} 
.GXNo_21 {
    background-position:0 -540px
} 
/*end广西快乐十分*/

/*PC蛋蛋*/
.PCNo_00, .PCNo_01, .PCNo_02, .PCNo_03, .PCNo_04, .PCNo_05, .PCNo_06, .PCNo_07, .PCNo_08, .PCNo_09, .PCNo_10, .PCNo_11, .PCNo_12, .PCNo_13, .PCNo_14,
 .PCNo_15, .PCNo_16, .PCNo_17, .PCNo_18, .PCNo_19, .PCNo_20, .PCNo_21, .PCNo_22, .PCNo_23, .PCNo_24, .PCNo_25, .PCNo_26, .PCNo_27{
	background-image: url(../../../static/img/ball_10.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.PCNo_00 {
	background-position:0 2px
}
.PCNo_01 {
    background-position:0 -25px
}
.PCNo_02 {
    background-position:0 -52px
}
.PCNo_03 {
    background-position:0 -79px
}
.PCNo_04 {
    background-position:0 -106px
}
.PCNo_05 {
    background-position:0 -133px
}
.PCNo_06 {
    background-position:0 -160px
}
.PCNo_07 {
    background-position:0 -187px
}
.PCNo_08 {
    background-position:0 -214px
}
.PCNo_09 {
    background-position:0 -241px
} 
.PCNo_10 {
    background-position:0 -268px
} 
.PCNo_11 {
    background-position:0 -295px
} 
.PCNo_12 {
    background-position:0 -322px
} 
.PCNo_13 {
    background-position:0 -349px
} 
.PCNo_14 {
    background-position:0 -376px
} 
.PCNo_15 {
    background-position:0 -403px
} 
.PCNo_16 {
    background-position:0 -430px
} 
.PCNo_17 {
    background-position:0 -457px
} 
.PCNo_18 {
    background-position:0 -484px
} 
.PCNo_19 {
    background-position:0 -511px
} 
.PCNo_20 {
    background-position:0 -538px
} 
.PCNo_21 {
    background-position:0 -565px
} 
.PCNo_22 {
    background-position:0 -592px
} 
.PCNo_23 {
    background-position:0 -619px
} 
.PCNo_24 {
    background-position:0 -646px
} 
.PCNo_25 {
    background-position:0 -673px
} 
.PCNo_26 {
    background-position:0 -700px
} 
.PCNo_27 {
    background-position:0 -727px
} 
/*endPC蛋蛋*/

.Ball_List 
{ 
	border-bottom: #ffffff 0px solid;  
	BORDER-LEFT: #ffffff 0px solid;
	BACKGROUND-COLOR: #e9a884; 
	BORDER-TOP: #ffffff 0px solid; 
	BORDER-RIGHT: #ffffff 0px solid
}
.Ball_tr_H {
	TEXT-ALIGN: center; 
	LINE-HEIGHT: 16px;
	BACKGROUND-COLOR: #ffffff; 
	/*HEIGHT: 27px*/
} 
.Jut_caption_1 {
	BACKGROUND-COLOR: #fdf8f2;
    border-top:0px;
    border-bottom:0px;
    border-left:1px solid #e9a884;
    border-right:1px solid #e9a884;
}
.td_caption_1 {
	BACKGROUND-IMAGE: url(../../../static/img/tb_bg.jpg); 
	TEXT-ALIGN: center; 
	LINE-HEIGHT: 24px;  
    font-weight:bold;
    color:#4a1a04;
}
.td_caption_big {
	BACKGROUND-IMAGE: url(../../../static/img/tb_bg_big.jpg) !important; 
	TEXT-ALIGN: center; 
    font-weight:bold;
    color:#4a1a04;
}
.td_caption_2 {
	BACKGROUND-IMAGE: url(../../../static/img/tb_bg2.jpg); 
	TEXT-ALIGN: center; 
	LINE-HEIGHT: 22px; 
	VERTICAL-ALIGN: 10%;
	font-weight:bold;
}

 
.t_list_tr_0 {
	TEXT-ALIGN: center; LINE-HEIGHT: 17px; BACKGROUND-COLOR: #ffffff; HEIGHT: 20px
}
.t_list_tr_1 {
	TEXT-ALIGN: center; LINE-HEIGHT: 17px; BACKGROUND-COLOR: #fdf8f2; HEIGHT: 20px
} 
.f_left {
	TEXT-ALIGN: left; TEXT-INDENT: 3px
}
.TDb_R {
	BACKGROUND-COLOR: #ffe5e5; COLOR: #ff0000
}
.TDb_B {
	BACKGROUND-COLOR: #fdf8f2; COLOR: #511e02
} 
.t_td_caption_1 {
	HEIGHT: 25px; TEXT-ALIGN: center; LINE-HEIGHT: 17px; BACKGROUND-COLOR: #fdf8f2
} 
.t_list_caption {
	BACKGROUND-IMAGE: url(../../../static/img/tb_bg.jpg); FONT-WEIGHT: bold; COLOR: #000000; TEXT-ALIGN: center; LINE-HEIGHT: 33px
}
.button_bg1 {
    height:18px;
    width:66px;
	BACKGROUND-IMAGE: url(../../../static/img/button_bg.jpg); 
    background-position:0px 0px;
    background-repeat:no-repeat;
    border:0px;
    color:#0c3e09;
} 
.button_bg2 {
    height:18px;
    width:66px;
	BACKGROUND-IMAGE: url(../../../static/img/button_bg.jpg); 
    background-position:-67px 0px;
    background-repeat:no-repeat;
    border:0px;
    color:#0c3e09;
}
#mainPageData a:hover {
    color:#c15422;
    text-decoration:underline;
}
#div_betno {
float:right;
} 
.inp1 {
    width:48px; height:16px; BACKGROUND-IMAGE: url(../../../static/img/frame1.gif); BACKGROUND-REPEAT: no-repeat; border:1px solid #b0b0b0;
    BACKGROUND-POSITION: 0px 0px; COLOR: #000; PADDING-TOP: 1px; PADDING-LEFT: 2px;
    margin:0px 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius:4px;
}
.inp1m {
    width:48px;height:16px;	BACKGROUND-IMAGE: url(../../../static/img/frame1.gif); BACKGROUND-REPEAT: no-repeat; 
    border:1px solid #ff8800; margin:0px 3px; COLOR: #000;
    PADDING-TOP: 1px; PADDING-LEFT: 2px;
	BACKGROUND-POSITION: -476px 0px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius:4px;
}
.t_list_bottom {
	BACKGROUND-IMAGE: url(../../../static/img/bg1.jpg); COLOR: #511e02; TEXT-ALIGN: center; LINE-HEIGHT: 20px
}

.kuaijie_xz {
    background-color:#FFBB66 !important;
}
.btn_anniu {
    background-color:green;
    border:1px solid #004d00;
    height:24px;
    color:#fff;
    margin-left:5px;
    border-radius:3px;
    padding:0px 3px;
}

.gno26_01, .gno26_02, .gno26_03, .gno26_04, .gno26_05, .gno26_06, .gno26_07, .gno26_08, .gno26_09, .gno26_10 {
	background-image: url(../../../static/img/eps_ball.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.gno26_01 {
	background-position:0px 0px
}
.gno26_02 {
    background-position:-34px 0px
}
.gno26_03 {
    background-position:-68px 0px
}
.gno26_04 {
    background-position:-102px 0px
}
.gno26_05 {
    background-position:-136px 0px
}
.gno26_06 {
    background-position:-170px 0px
}
.gno26_07 {
    background-position:-204px 0px
}
.gno26_08 {
    background-position:-238px 0px
}
.gno26_09 {
    background-position:-272px 0px
}
.gno26_10 {
    background-position:-306px 0px
}

.gno27_00,.gno27_01, .gno27_02, .gno27_03, .gno27_04, .gno27_05, .gno27_06, .gno27_07, .gno27_08, .gno27_09{
	background-image: url(../../../static/img/pick5_ball.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.gno27_00 {
	background-position:0 0px
}
.gno27_01 {
    background-position:0 -26px
}
.gno27_02 {
    background-position:0 -52px
}
.gno27_03 {
    background-position:0 -78px
}
.gno27_04 {
    background-position:0 -104px
}
.gno27_05 {
    background-position:0 -130px
}
.gno27_06 {
    background-position:0 -156px
}
.gno27_07 {
    background-position:0 -182px
}
.gno27_08 {
    background-position:0 -208px
}
.gno27_09 {
    background-position:0 -234px
}

.DTable_new {
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
    border-collapse:collapse;
}
.DTable_new th,.DTable_new td{
    border :1px solid #e9a884;
    height: 25px;
}
#zhangkai_tr td {
    font-size: 13px; 
    text-align: center; 
    border: 0px;
    padding: 10px;   
}
#zhangkai_tr a {
    cursor: pointer;
    color: blue;
}
#zhangkai_tr a:hover {
    cursor: pointer;
    color: red;
}
#zhangkai_tr span {
    color:red;
    display:none;
}




    font-family: Verdana, "\5B8B\4F53", Arial, Sans;
    font-size: 12px;

    color: #511e02;
    text-align: left;
    margin: 0 auto;
    font-size: 12px;
    scrollbar-face-color: #9ad4fc;
    scrollbar-shadow-color: #006699;
    scrollbar-base-color: #ffffff;
    scrollbar-highlight-color: #006699;
    scrollbar-3dlight-color: #ffffff;
    scrollbar-darkshadow-color: #ffffff;
    scrollbar-track-color: #f8f8f8;
    scrollbar-arrow-color: #006699;

    margin-top: 10px !important;

    .head_f2 {
	    float: right;
	    width: 100%;
	    text-align: left;
	    height: 28px;
	    line-height: 28px;
	}


	.button_bg1 {
	    height: 18px;
	    width: 66px;
	    BACKGROUND-IMAGE: url(../../../static/img/button_bg.jpg);
	    background-position: 0px 0px;
	    background-repeat: no-repeat;
	    border: 0px;
	    color: #0c3e09;
	}

	.button_bg1:hover {
	    background-position: -67px 0px;
	}

	.DTable {
	    margin-top: 5px;
	    text-align: center;
	    font-size: 12px;
	    background-color: #e9a884;
	}

	.DtrTitle {
	    background-color: #F8D480;
	    font-size: 13px;
	}

	.Dbgco1 {
	    background-color: White;
	}

	.DTable tr {
	    height: 25px;
	    background-color: White;
	}

	.td_caption_1 {
	    BACKGROUND-IMAGE: url(../../../static/img/tb_bg.jpg);
	    TEXT-ALIGN: center;
	    LINE-HEIGHT: 24px;
	    font-weight: bold;
	    color: #4a1a04;
	}

	.betnum {
	    font-size: 13px;
	    background-color: #fdf8f2;
	    width: 50px;
	}

	a {
	    color: #5E5E5E;
	    text-decoration: none;
	}

	.betRateNum {
	    color: Red;
	    font-size: 14px;
	    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
	    font-weight: bold;
	}

	.inp1 {
	    width: 48px;
	    height: 16px;
	    BACKGROUND-IMAGE: url(../../../static/img/frame1.gif);
	    BACKGROUND-REPEAT: no-repeat;
	    border: 1px solid #b0b0b0;
	    BACKGROUND-POSITION: 0px 0px;
	    COLOR: #000;
	    PADDING-TOP: 1px;
	    PADDING-LEFT: 2px;
	    margin: 0px 3px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    border-radius: 4px;
	}

	.Ball_List {
	    border-bottom: #ffffff 0px solid;
	    BORDER-LEFT: #ffffff 0px solid;
	    BACKGROUND-COLOR: #e9a884;
	    BORDER-TOP: #ffffff 0px solid;
	    BORDER-RIGHT: #ffffff 0px solid;
	}

	.td_caption_2 {
	    BACKGROUND-IMAGE: url(../../../static/img/tb_bg2.jpg);
	    TEXT-ALIGN: center;
	    LINE-HEIGHT: 22px;
	    VERTICAL-ALIGN: 10%;
	    font-weight: bold;
	}

	#lotteryno a {
	    color: #4a1a04;
	    text-decoration: none;
	    border-right: 1px solid #fff;
	}

	.Ball_tr_H {
	    TEXT-ALIGN: center;
	    LINE-HEIGHT: 16px;
	    BACKGROUND-COLOR: #ffffff;
	}

	.Jut_caption_1 {
	    BACKGROUND-COLOR: #fdf8f2;
	    border-top: 0px;
	    border-bottom: 0px;
	    border-left: 1px solid #e9a884;
	    border-right: 1px solid #e9a884;
	}

	.t_list_tr_0 {
	    TEXT-ALIGN: center;
	    LINE-HEIGHT: 17px;
	    BACKGROUND-COLOR: #ffffff;
	    HEIGHT: 20px;
	}
	.f_left {
	    TEXT-ALIGN: left;
	    TEXT-INDENT: 3px;
	}

	.TDb_B {
	    BACKGROUND-COLOR: #fdf8f2;
	    COLOR: #511e02;
	}

	.TDb_R {
	    BACKGROUND-COLOR: #ffe5e5;
	    COLOR: #ff0000;
	}

	.bocaiNameTd {
		height: 24px;
		width: 45%;
		font-weight: bold;
	}

	.todayWinSpan {
		font-size: 10pt;
		font-family: Arial;
		color: red;
		position: relative;
		height: 10px;
	}

	.versionKJDiv {
		float: right;
		width: 145px;
	}

	.versionKJSpan {
		height:25px;
		float:right;
		color:#511e02;
		font-weight: bold;
	}

	.CQREDiv {
		height:27px;
		width:27px;
		margin-top:1px;
	}

	.h24w28 {
		height: 24px;
		width: 28%;
	}

	.bocaiSubName {
		font-weight: bold;
		color: #2836f4;
	}

	.alrwd25 {
		text-align: right;
		width: 25%;
	}

	.kuaijieSpan {
		display:inline-block;
		color:#299A26;
		font-weight:bold;
		color: #299A26;
	}

	.kuaijieSpan:hover {
		color: #FF0D0D;
	}

	.shuomiSpan {
		color:#FF0D0D;
		display:inline-block;
		width:60px;
		cursor:pointer;
		text-align:left;
	}

	.inp1 {
	    width: 48px;
	    height: 16px;
	    BACKGROUND-IMAGE: url(../../../static/img/frame1.gif);
	    BACKGROUND-REPEAT: no-repeat;
	    border: 1px solid #b0b0b0;
	    BACKGROUND-POSITION: 0px 0px;
	    COLOR: #000;
	    PADDING-TOP: 1px;
	    PADDING-LEFT: 2px;
	    margin: 0px 3px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    border-radius: 4px;
	}

	.inp1:focus {
	    width: 48px;
	    height: 16px;
	    BACKGROUND-IMAGE: url(../../../static/img/frame1.gif);
	    BACKGROUND-REPEAT: no-repeat;
	    border: 1px solid #ff8800;
	    BACKGROUND-POSITION: -476px 0px;
	    COLOR: #000;
	    PADDING-TOP: 1px;
	    PADDING-LEFT: 2px;
	    margin: 0px 3px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    border-radius: 4px;
	}

	.kuaijieOdd {
		display:inline-block;
		color:#299A26;
		font-weight:bold;
	}

	.kuaijieOdd:hover {
		color:#FF0D0D;
	}

	a:hover {
	    cursor: pointer;
	}

	.kuaijie_xz {
	    background-color: #FFBB66 !important;
	}

	#lotteryno a:hover {
	    text-decoration: underline;
	    color: #c15422;
	}

	#mainPageData a:hover {
	    color: #c15422;
	    text-decoration: underline;
	}

	.oddsTdMin {
		min-width: 15px;
	}


    .DTable_t td, .DTable_t th {
        border-width: 0px 1px 1px 0px;
        border-color: #e9a884;
        border-style: solid;
    }


}



#ui-dialog {
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

	img, table {
	    border: 0 none;
	    border-collapse: collapse;
	}

	.tbline {
	    border-width: 1px 0px 0px 1px;
	    border-color: #FC951C;
	    border-style: solid;
	}

	.tbline tr {
	    height: 20px;
	}

	.tbline .trH {
	    background-color: #FDF1C1;
	    height: 22px;
	    text-align: center;
	}
	td {
	    cursor: default;
	}

	.tbline td, .tbline th {
	    border-color: #fc951c;
	    border-style: solid;
	    border-width: 0 1px 1px 0;
	    color: #000;
	    padding: 0 5px;
	}


}




.vertical-t {
	vertical-align: top;
}

.vertical-r {
	vertical-align: right;
}

.margin-r10 {
	margin-right:10px;
}

.table000 {
	border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

.width700 {
	width: 700px;
}

.wid60 {
	width: 60px;
}

.black {
	color: #000000;
}

.red {
	color: red;
}

.blue {
    color:Blue
}

.green {
	color: green;
}

.height27 {
	height: 27px;
}

.floatL {
	float: left;
}

.button_bg1 {
        height: 18px;
        width: 66px;
        BACKGROUND-IMAGE: url(../../../static/img/button_bg.jpg);
        background-position: 0px 0px;
        background-repeat: no-repeat;
        border: 0px;
        color: #0c3e09;
    }

    .button_bg1:hover {
        background-position: -67px 0px;
    }


.oc_red {
    color: red;
    display: inline-block;
    padding: 0 0 0 5px;
}

.oc_blue {
    color: #95ef86;
    display: inline-block;
    padding: 0 5px;
}

.ui-dialog.ui-corner-all.ui-widget {
    padding: 5px 3px !important;
}


.OddsCategoryA.selected {
    color: #ff0000 !important;
}



.datebox .combo-arrow {
    background: #fff url(../../../static/img/datePicker.gif) no-repeat right;
    background-position: center center;
}

.f-field.datebox.textbox.f-inline-row {
    border: #999 1px solid;
    height: 22px;
    width: 108px;
}

.textbox {
   border-radius:0px; 
}


.panel-body.panel-body-noheader.combo-panel {
    width: 180px !important;
}

.caiwuListTr {
    height:20px; 
    text-align:left;
    background-color:#ffffff
}